
<p>
  <strong>Name:</strong>
  <%= @car.name %> </br>
</p>


<table class = "table">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Літри</th>
      <th>Вартість</th>
      <th>Пробіг</th>
      <th>Пробіг від останньої<br>повної заправки</th>
      <th>Середній розхід<br>(л на 100 км)</th>
      <th>Ціна за<br>кілометр</th>
      <th>Марка<br>бензину</th>
      <th>Заправна<br>станція</th>
      <th>Стиль</th>
    </tr>
  </thead>

  <tbody>
    <% @refills.each do |refill| %>
      <tr class="<%= refill_row_class(refill) %>">
        <td><%= refill.created_at.to_date %></td>
        <td><%= refill.liters %></td>
        <td><%= refill.vartist %></td>
        <td><%= refill.probig %></td>
        <td><%= refill.probig_since_last_full %></td>
        <td><%= refill.avg_rozhid %></td>
        <td><%= refill.avg_uah_km %></td>
        <td><%= refill.gasmark.gas_mark %></td>
        <td><%= refill.gasstation.gas_station %></td>
        <td><%= refill.stan.stan %></td>
        <td><%= refill.comment.to_s%></td>
        <td class="<%= refill_edit_class(refill) %>"><%= link_to 'Edit', edit_car_refill_path(@car, refill) %></td>
        <td class="<%= refill_edit_class(refill) %>"><%= link_to 'Delete', car_refill_path(@car, refill), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'Назад до всіх машин', cars_path %>|
<%= link_to 'Додати нову заправку', new_car_refill_path(@car)%>
