
<div class="row">
  <strong>Name:</strong> <%= @car.name %> </br>
  <%= link_to 'Додати нову заправку', new_car_refill_path(@car), class: 'button' %>
  <%= link_to 'Редагувати останню заправку', edit_car_refill_path(@car, @last_refill), class: 'button' %>
  <%= link_to 'Видалити останню заправку', car_refill_path(@car, @last_refill), method: :delete, class: 'button'  %>
</div>


<table class = "table">
  <thead>
    <tr>
      <th>Дата</th>
      <th>Літри</th>
      <th>Вартість</th>
      <th>Пробіг</th>
      <th>Пробіг від останньої<br>повної заправки</th>
      <th>Середній розхід<br>(л на 100 км)</th>
      <th>Ціна за<br>кілометр</th>
      <th>Марка<br>бензину</th>
      <th>Заправна<br>станція</th>
      <th>Стиль</th>
    </tr>
  </thead>

  <tbody>
    <% @refills.each do |refill| %>
      <tr class="<%= refill_row_class(refill) %>">
        <td><%= refill.created_at.to_date %></td>
        <td><%= refill.liters %></td>
        <td><%= refill.vartist %></td>
        <td><%= refill.probig %></td>
        <td><%= refill.probig_since_last_full %></td>
        <td><%= refill.avg_rozhid %></td>
        <td><%= refill.avg_uah_km %></td>
        <td><%= refill.gasmark.gas_mark %></td>
        <td><%= refill.gasstation.gas_station %></td>
        <td><%= refill.stan.stan %></td>
        <td><%= refill.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


